---
layout: default
header_image: "/assets/images/banner/banner.jpg"
title: "About Us"
description: "The Papaya Project is an initiative towards identifying and critically addressing inequities and bias in computing and computing education research, with the goal of transforming computing education and the broader computing discipline into a more inclusive and equitable field.The Papaya Project is an initiative towards identifying and critically addressing inequities and bias in computing and computing education research, with the goal of transforming computing education and the broader computing discipline into a more inclusive and equitable field."
---

{% include page_header.html %}
<span id="symbolism"></span>
{% include about.html %}

<!-- Team Start -->
<section class="section team-2">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<span class="h5 text-color text-uppercase">
					Our Team
				</span>
				<h3 class="mb-5 mt-2">Meet The Founders</h3>
			</div>
		</div>
		{% include team.html %}
</section>
<!-- Team End -->
